body {
    height: 100vh;
    margin: 0;
}

.header{
    max-width: 100%;
    height: 10%;
    background-color: green;
    margin-bottom: 10px;
}

.grid-container{
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
    grid-auto-rows: 200px;
    gap: 10px;
}

.grid-item{
    background-color: lightgreen;
}

.grid-item .image {
    width: 100%;
    height: 80%;
}

.grid-item .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s ease-in-out;
}
.grid-item:hover .image img{
    transform:scale(1.2);
}

.span_c{
    grid-column: span 2;
}
.span_r{
    grid-row: span 2;
}

.grid-item .info {
    width: 100%;
    height: 20%;
}

@media (max-width: 600px){
    .grid-container {
        color: red;
    }
}

@media (max-width: 200px){
    .grid-container {
        color: purple;
    }
}